.place {
    margin: 0 auto;
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(2, minmax(460px, 1fr));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    gap: 48px 40px;
}

@media screen and (max-width: 1280px) {
    .place {
        grid-template-columns: repeat(2, minmax(440px, 1fr));
        gap: 48px 32px;
        min-width: 928px;
        margin: 0 48px;
    }
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: repeat(2, minmax(340px, 1fr));
        gap: 48px 28px;
        min-width: 720px;
        margin: 0 24px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        margin: 0;
        min-width: 320px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, minmax(min-content, max-content));
        gap: 32px
    }
}